/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wrap .image {
    padding: 10px;
}

.wrap .image.is-featured {
    border: 8px solid rgb(18 255 0 / 38%);
}

.wrap .image.is-cover {
    outline: 5px solid black;
}

.wrap .image.is-nsfw {
    background: pink;
}

.b-imgs {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 2200px) {
    .b-imgs {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 1300px) {
    .b-imgs {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 900px) {
    .b-imgs {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.wrap .tab .tab-header {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.wrap .tab .tab-content {
    display: none;
}

.wrap .tab.is-active .tab-content {
    display: block;
}

.user-feed {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.user-feed img {
    max-width: 100%;
}
